#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #DCDCDC;
    color: #44318D;
    /* Set the fixed height of the footer here */
}

.text-center {
    cursor: default;
}